.SAcontent-feature {
    width: 80%;
    margin: 5rem auto;
    box-sizing: border-box;
    padding: 10px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 20px;
    display: grid;
    row-gap: 20px;
}

.SAcontent-feature h1 {
    color: #ff5138;
    text-align: center;
    font-weight: bold;
}

.SAcontent-featureRow {
    margin-top: 7%;
}

.SAcontent-featureRow h4{
    text-align: center;
    font-weight: bold;
}

.SAcontent-featureRow p {
    text-align: justify;
    margin-top: 5%;
}

.SAcontent-featuresContainer { 
    margin-bottom: 15%;
}

.SAcontent-featureMobileDisplay {
    display: none;
}

.SAcontent-featureDisplay {
    display: flex;
    justify-content: center;
}

.SAcontent-featureImg {
    width: 70%;
    height: 70%;
}

.SAcontent-featureImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SAcontent-featureDescription {
    margin: 1.3rem auto;
    padding: 5px;
}

.SAContent-addFeature {
    margin-top: 10%;
    text-align: center;
    font-size: 100px;
}

.SAContent-addFeature i {
    color: #ff5138;
}

.SAContent-addFeature i:hover {
    color: #Dc4733;
}

.SAcontent-featureRow a {
    text-decoration: none !important;
    color: black;
}

.SAcontent-featureRow a:hover {
    text-decoration: none !important;
    color: black;
}

@media screen and (max-width: 1200px) {
    .SAcontent-featureDescription {
        margin: 1.3rem auto;
        padding: 45px;
    }
}

@media screen and (max-width: 900px) {
    .SAcontent-featureDisplayVisibility {
        display: none;
    }

    .SAcontent-feature {
        margin-top: 20%;
    }

    .SAcontent-featuresContainer {
        font-size: 14px;
    }
    
    .SAcontent-featureMobileDisplay {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .SAcontent-featureDescription {
        margin: 1.3rem auto;
        padding: 15px;
    }

    .SAcontent-feature {
        margin-top: 30%;
    }

    .SAContent-addFeature {
        font-size: 50px;
    }

    .SAcontent-feature h1 {
        font-size: 35px;
    }
}