.proposalsContainer {
    margin: 13% auto;
}

i{
    margin-right: 5px;
}
.proposalsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.citizenproposals-catbar-container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
}

.citizenproposals-catbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 50% 0px 50%;
    max-height: 80px;   
    background: #F0F0F3;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
}

.citizenproposals-catbar-item{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    margin: 20px 20px 20px 20px !important;
    padding: 10px 30px 10px 30px;
    color: black;
    /*Neumorphism Magic*/
    border-radius: 40px;
    background: linear-gradient(145deg, #d8d8db);
    box-shadow:  7px 7px 7px #d6d6d8,
                -7px -7px 7px #ffffff;
}

.citizenproposals-catbar-item:hover{
    padding-top: 15px;
    color: black;
    background: #F0F0F3;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
    text-decoration: none;
}

.proposalsCreateBtnContainer{
    width: 55%;
}

.proposalsCreateBtn{
    justify-content: center;
}

.proposalCreate {
    padding: 15px 45px 15px 45px;
    border: hidden;
    background: #FF5039;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
}

.proposalShortContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 10%;
}

.proposalShort {
    display: flex;
    margin: 50px 0px;
    border: hidden;
    padding: 40px;
    height: 600px;
    max-width: 840px;
    /* max-height: 600px; */
    transition: 1s;
    /* //neumorphism magic */
    border-radius: 40px;
    background: linear-gradient(145deg, #d8d8db);
    box-shadow:  7px 7px 7px #d6d6d8,
                -7px -7px 7px #ffffff;
}

.proposalTitleContainer{
    display: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.proposalTitle{
    text-align: left;
}

.proposalAuthContainer{
    display: flex;
    margin-bottom: 30px;
}
.proposalAuthImg{
    display: flex;
    max-height: 50px;
    max-width: 50px;
}
.proposalAuthImg img{
    border-radius: 50px;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.proposalAuth{
    display: flex;
    align-items: center;
    margin: 0px;
    padding-left: 5px;
}

.proposalContent{
    display: flex;
}

.proposalShortInfo {
    display: inline-block;
    padding-right: 25px;
    flex: 50%;
}
.proposalShortInfo p{
    display: inline-flex;
    text-align: justify;
    padding: 5px;
}

.proposalShortImgContainer{
    display: flex;
    flex: 50%;
    padding: 20px;
    max-height: 500px;
    justify-content: center;
    background: #F0F0F3;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
}

.proposalShortImgFrame{
    display: flex;
    max-width: inherit;
    max-height: inherit;
}


.proposalImg {
    border-radius: 40px;
    object-fit: cover;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 992px) {

    .proposalShort{
        display: flex;
        flex-direction: column;
    }

    /* hide title on click/tap*/
    .proposalShort:hover .proposalTitleContainer{
        display: none;
    }

    .proposalTitleContainer{
        display: flex;
        padding: 5px;
        margin-bottom: 5px;
    }

    .proposalTitle{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .proposalTitle h2{
        margin-bottom: 0px;
    }

    .proposalContent{
        display: flex;
        flex-direction: column-reverse;
    }

    .proposalShort{
        padding: 15px;
        margin: 20px 0px;
        height: 400px;
        transition: 0.5s;
    }
    .proposalShort:hover{
        height: fit-content;
    }
    .proposalShort:hover .proposalShortInfo{
        display: inline-block;
        padding: 20px;
        visibility: visible;
    }

    .proposalShortImgContainer{
        display: flex;
        padding: 20px;
        max-height: 300px;
    }
    
    .proposalShort .proposalShortInfo{
        height: 0px;
        visibility: hidden;
        transition: 0.1ms;
    }

}

@media screen and (max-width: 600px) {
    .proposalShortImgContainer{
        display: flex;
        padding: 20px;
        max-height: 200px;
    }
    

}