.AdminEachProject{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.Text {
    display: flex;
    justify-content: center;
    color: #FF5039;
}

.TitleText {
    font-weight: bolder;
}

.ProjectDiv {
    display: grid;
    row-gap: 80px;
}

.ProjectInfo {
    display: flex;
    justify-content: space-between;
}

.DescriptionContainer {
    width: 100%;
    max-width: 900px;
}

.ParagraphText {
    font-size: 18px;
    line-height: 50px;
}

.Gallery {
    padding: 20px;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 20px;
}

.ButtonDiv {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;    
}

.Button {
    border: hidden;
    width: 230px;
    padding: 30px;
    background: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 25px;
    color:#FF5039;
}