.SAaddAdmin {
    width: 80%;
    margin: 5rem auto;
    box-sizing: border-box;
    padding: 10px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 20px;
    display: grid;
    row-gap: 20px;
}

.SAaddAdmin h1 {
    color: #ff5138;
    text-align: center;
    font-weight: bold;
}

#SAaddAdmin-body {
    width: 80%;
    margin: 5rem auto;
    box-sizing: border-box;
    padding: 10px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 20px;
    display: grid;
    row-gap: 20px;
}

.SAaddAdmin-edit  {
    width: 100%;
    margin: 1.3rem auto;
    padding: 50px;
    padding-top: 0px;
    display: grid;
    row-gap: 20px;
}

.SAaddAdmin-edit .form-control {
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 20px;
    padding: 10px;
    font-size: 18px;
}

.SAaddAdminImg {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.SAaddAdminImg-container {
    width: 25vw;
    display: flex;
    justify-content: center;
}

.SAaddAdminImg-container img {
    width: 100%;
    object-fit: fill;
    border-radius: 45px;
    cursor: pointer;
}

.SAaddAdmin-uploadIcon {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.SAaddAdmin-uploadIcon i {
    cursor: pointer;
}

.SAaddAdmin-edit button.btn.btn-danger{
    border-radius: 10px;
    border-color: #fe5139;
    background-color: #fe5139;
    outline: #fe5139;
}
  
.SAaddAdmin-edit button.btn.btn-danger:hover{
    background-color: #Dc4733;
    border-color: #Dc4733;
}

.SAaddAdmin-edit .SAaddAdmin-reset {
    outline: none !important;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 10px;
    color: #fe5139;
}

.SAaddAdmin-edit .SAaddAdmin-reset:hover {
    background-color: white !important;
    color: #fe5139 !important;
}

.SAaddAdmin-links {
    margin-top: 2%;
    text-decoration: none !important;
    text-align: center;
    color: #fe5139;
}

.SAaddAdmin-links:hover {
    color: #Dc4733;
}

.SAAddAdminLoading {
  color: #777;
  text-align: center;
}

.SAAddAdminLoading h2 {
  margin-top: 10%;
}

@media screen and (max-width: 1200px) {
    .SAAddAdminLoading {
        margin-top: 20%;  
    }
}

@media screen and (max-width: 600px) {
    #SAaddAdmin-body {
        width: 100%;
        margin: 5rem auto;
        box-sizing: none;
        padding: 0px;
        background: none;
        box-shadow: 0px 0px 0px , -0px -0px 0px ;
        border-radius: 0px;
        display: grid;
        row-gap: 20px;
    }

    .SAaddAdmin-edit  {
        padding: 30px;
        padding-top: 0;
        margin-top: 0;
    }

    .SAaddAdmin h1 {
        font-size: 28px;
    }

    .SAAddAdminLoading {
        margin-top: 60%;  
    }

    .SAaddAdminImg-container {
        width: 45vw;
    }
}