.proposalsContainer {
    margin: 13% auto;
}

.proposalsBody i{
    margin-right: 5px;
}
.proposalsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.citizenproposals-catbar-container{
    display: flex;
    justify-content: center;
    width: 1000px;
    max-height: 100%;
    margin-bottom: 30px;
}

.citizenproposals-catbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 50% 0px 50%;
    max-height: 80px;
    max-width: 700px;   
    background: #F0F0F3;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
    
}

.citizenproposals-catbar-item{
    display: flex;
    white-space: nowrap;
    justify-content: center;
    margin: 20px 20px 20px 20px !important;
    padding: 10px 30px 10px 30px;
    color: black;
    /*Neumorphism Magic*/
    border-radius: 40px;
    background: linear-gradient(145deg, #d8d8db);
    box-shadow:  7px 7px 7px #d6d6d8,
                -7px -7px 7px #ffffff;
     border: hidden !important;         
}

.citizenproposals-catbar-item:hover{
    padding-top: 15px;
    color: black;
    background: #F0F0F3;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
    text-decoration: none;
}

.proposalsCreateBtnContainer{
    width: 55%;
}

.proposalsCreateBtn{
    justify-content: center;
}

.proposalCreate {
    padding: 15px 45px 15px 45px;
    border: hidden;
    background: #FF5039;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
}

.proposalShortContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* padding: 0px 100px; */
    /* width: 1000px;
    max-width: 1000px;
    max-height: 700px; */
}

.proposalShort {
    display: flex;
    margin: 50px 0px;
    border: hidden;
    padding: 40px;
    height: 600px;
    width: 800px auto;
    /* max-height: 600px; */
    transition: 1s;
    /* //neumorphism magic */
    border-radius: 40px;
    background: linear-gradient(145deg, #d8d8db);
    box-shadow:  7px 7px 7px #d6d6d8,
                -7px -7px 7px #ffffff;
}

.proposalTitleContainer{
    display: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.proposalTitle{
    text-align: left;
}

.proposalAuthContainer{
    display: flex;
    margin-bottom: 30px;
}
.proposalAuthImg{
    display: flex;
    max-height: 50px;
    max-width: 50px;
}
.proposalAuthImg img{
    border-radius: 50px;
    object-fit: cover;
    width: 100%;
    height: auto;
}
.proposalAuth{
    display: flex;
    align-items: center;
    margin: 0px;
    padding-left: 5px;
}

.proposalContent{
    display: flex;
    width: 100%;
}

.proposalShortInfo {
    display: inline-block;
    padding-right: 25px;
    flex: 50%;
}
.proposalShortInfo p{
    display: inline-flex;
    text-align: justify;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.proposalsBody{
    display: inline-flex;
    text-align: justify;
    padding: 5px;
    margin-right: 5px;
}

.proposalsBody i {
    margin-right: 10px;
    margin-left: 10px;
}

.proposalsViewMore{
    color: #FFFFFF;
    padding: 12px;
    text-align: center;
    border-radius: 40px;
    background: #FF5039;
}
.proposalsViewMore:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.proposalShortImgContainer{
    display: flex;
    flex: 50%;
    padding: 20px;
    max-height: 500px;
    max-width: 510px;
    justify-content: center;
    background: #FFFFFF;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
    overflow: hidden;
}

.proposalShortImgFrame{
    display: flex;
    max-width: inherit;
    max-height: inherit;
}

.proposalImg {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.proposalImg img{
    border-radius: 40px; 
    width: 500px;
    height: 300px;
    object-fit: cover;
}

@media screen and (max-width: 992px) {

    .proposalShort{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .citizenproposals-catbar-container{
        display: flex;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .citizenproposals-catbar{
        flex-direction: row;
        width: 100%;
    }
    
    .citizenprojects-shortinfo-auth{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    /* hide title on click/tap*/
    .proposalShort:hover .proposalTitleContainer{
        display: none;
    }

    .proposalTitleContainer{
        display: flex;
        padding: 5px;
        margin-bottom: 5px;
    }

    .proposalTitle{
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .proposalTitle h2{
        margin-bottom: 0px;
        font-size: 25px
    }

    .proposalContent{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .proposalShort{
        padding: 15px;
        margin: 20px 0px;
        height: 400px;
        transition: 0.5s;
    }
    .proposalShort:hover{
        height: fit-content;
    }
    .proposalShort:hover .proposalShortInfo{
        display: flex;
        flex-direction: column;
        padding: 20px;
        visibility: visible;
    }

    .proposalShortImgContainer{
        /* display: flex; */
        padding: 20px;
        max-height: 300px;
        width: 100%;
    }

    .proposalShort:hover .proposalShortImgFrame{
        display: flex;
        max-width: inherit;
        max-height: inherit;
    }
    
    .proposalShort:hover .proposalImg {
         border-radius: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .proposalShort:hover .proposalImg img{
        border-radius: 40px; 
        width: 500px;
        height: 300px;
        object-fit: cover;
    }


    .proposalShort .proposalShortInfo{
        height: 0px;
        visibility: hidden;
        transition: 0.1ms;
        width: 100%;
    }
    
}

@media screen and (max-width: 600px) {
    .proposalShortImgContainer{
        display: block;
        padding: 20px;
        max-height: 200px;
    }

    .citizenproposals-catbar-container{
        height: 250px;
        width: 100%;
    }

    .citizenproposals-catbar{
        display: flex;
        flex-direction: column;
        margin: 0px;
        max-height: inherit !important;
        max-width: 500px !important;
        background: none;
        box-shadow: none;
        border-radius: none;
    }

    .citizenproposals-catbar-item{
        margin: 5px 0px !important;
        width: 100%;
    }

    .proposalCreate{
        padding: 10px;
    }

    .proposalTitle h2{
        font-size: 18px;
    }
    
    .proposalsBody i{
        font-size: 20px !important;
    }
}