.SuperAdminContainer {
    box-sizing: border-box;
    display: grid;
    row-gap: 25px;
    max-width: 900px;
    width: 900px;
    padding: 100px 150px 150px;
    margin-top: 30px;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 0px 0px 30px 30px ;
}

