.citizenViewProposal-container {
    margin: 13% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.citizenViewProposal-header {
    display: inline-block;
    padding-right: 25px;
    flex: 50%;
}

.citizenViewProposal-title {
    color: black;
}

.citizenViewProposal-auth {
    display: inline-flex;
    text-align: justify;
    padding: 5px;
}

.citizenViewProposal-description {
    color: black;
}

.citizenViewProposal-description p {
    display: inline-flex;
    text-align: justify;
    padding: 5px;
}

.citizenViewProposal-footer {
    color: black;

}

.citizenViewProposal-details {
    display: inline-flex;
    text-align: justify;
    padding: 5px;
}
.citizenViewProposal-img-container {
    display: flex;
    flex: 50%;
    padding: 20px;
    max-height: 500px;
    justify-content: center;
    background: #F0F0F3;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
}

.citizenViewProposal-img-frame{
    display: flex;
    max-width: inherit;
    max-height: inherit;
}

.citizenViewProposal-img-frame img{
    border-radius: 40px;
    object-fit: cover;
    width: 100%;
    height: auto;
}