#navbar-landingToggler i {
    margin-right: 10px;
    color: #ff5138;
  }
  
  .navbar-landingMainbg {
    box-sizing: border-box;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #f1f1f3 !important;
  }
  
  #navbarSupportedLandingContent {
    overflow: hidden;
    position: relative;
  }
  
  #navbarSupportedLandingContent ul {
    padding: 0px;
    margin: 0px;  
  }
  
  #navbarSupportedLandingContent ul li a i {
    margin-right: 10px;
  }
  
  #navbarSupportedLandingContent li {
    list-style-type: none;
    float: left;
  }
  
  #navbarSupportedLandingContent ul li a {
    color: #fe5038;
    text-decoration: none;
    margin: 20px 150px;
    font-size: 18px;
    display: block;
    padding: 10px 10px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
  }
  
  #navbarSupportedLandingContent ul li a:hover {
    color: #87c441;
  }
  
  #navbarSupportedLandingContent > ul > li.active > a {
    color: #87c441;
    background-color: transparent;
    transition: all 0.7s;
  }
  
  #navbarSupportedLandingContent a:not(:only-child):after {
    content: '\f105';
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
  }
  
  #navbarSupportedLandingContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
  }
  
  #navbar-landingToggler {
    margin-left: 5%;
  }
  
  #navbar-landingToggler:focus {
    box-shadow: none;
  }
  
  #navbarSupportedLandingContent .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent;
    color: #87c441 !important;
  }
  
  @media (max-width: 1200px){
    #navbarSupportedLandingContent ul li a {
        margin: 0px 100px;
    }
  }
  
  @media (max-width: 992px){
    #navbarSupportedLandingContent ul li a {
        margin: 20px 0px;
    }
  }
  
  @media (max-width: 600px){
    #navbar-landingToggler {
        margin-bottom: 3%;
    }
  }
  