.SuperAdminForm {
    display: grid;
    row-gap: 30px;
}

.SuperAdminContainerDiv {
    display: grid;
    row-gap: 10px;
}

.SuperAdminTextArea {
    height: 200px;
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 20px;
    padding: 25px;
    font-size: 18px;
}

.SuperAdminTextArea:focus {
    outline: none;
}

.SuperAdminButtonDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.InputValidation {
    margin-top: 10px;
    color: red;
}