.SAcontent-header {
    width: 80%;
    margin: 5rem auto;
    box-sizing: border-box;
    padding: 10px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 20px;
    display: grid;
    row-gap: 20px;
}

.SAcontent-header h1 {
    color: #fe5139;
    text-align: center;
    font-weight: bold;
}

#SAHome-body {
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 50px;
}

#SAHome-featuredBody {
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    margin-bottom: 50px;
    height: 680px;
    overflow: auto;
}

.SAContent-home {
    width: 100%;
    margin: 1.3rem auto;
    padding: 50px;
    display: grid;
    row-gap: 20px;
}

.featuredMembers-imgContainer {
    display: flex;
    justify-content: center;
}

.SAContent-homeImage {
    width: 20vw;
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    margin: 5%;
    border-radius: 20px;
    padding-bottom: 1%;
    text-align: center;
}

.SAContent-homeImage img {
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
}

.SAContent-homeImage h2 {
    margin: 5% auto;
    color: #fe5138;
}

.SAContent-homeImage h3 {
    color: #87c441;
}

.SAContent-home .SAContent-reset {
    outline: none !important;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 10px;
    color: #fe5139;
}

.SAContent-home .SAContent-reset:hover {
    background-color: white !important;
    color: #fe5139 !important;
}

.SAContent-home .form-control {
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.SAContent-homeUploadIcons {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.SAContent-home button.btn.btn-danger{
    border-radius: 10px;
    border-color: #fe5139;
    background-color: #fe5139;
    outline: #fe5139;
}

  
.SAContent-home button.btn.btn-danger:hover{
    background-color: #Dc4733;
    border-color: #Dc4733;
}

.SAContent-partnersHeader {
    margin: 5% auto;
    margin-top: 0;
    width: 450px;
    box-sizing: border-box;
    padding: 5px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 10px;
}

.SAContent-partnersHeader h4 {
    font-weight: bold;
    text-align: center;
    color: #fe5139;
}

.SAContent-homeAnnounemnets {
    margin: 0 auto;
    margin-bottom: 5%;
    width: 450px;
    box-sizing: border-box;
    padding: 5px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 10px;
}

.SAContent-homeAnnounemnets h4 {
    font-weight: bold;
    text-align: center;
    color: #fe5139;
}

#SAContenthome-announcements {
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 30px;
    padding: 60px;
    text-align: center;
    margin: 5% auto;
    margin-top: 0;
    overflow: auto;
    height: 25vh;
}

#SAContenthome-announcements p {
    text-align: center;
    margin-bottom: 5%;
}

#SAContenthome-announcements a {
    text-decoration: none !important;
    color: #fe5139;
    cursor: pointer;
}

#SAContenthome-announcements a:hover {
    color: #Dc4733;
}

.SAContent-featuredMembers {
    margin: 5% auto;
    margin-top: 0;
    width: 450px;
    box-sizing: border-box;
    padding: 5px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 10px;
}

.SAContent-featuredMembers h4 {
    font-weight: bold;
    text-align: center;
    color: #fe5139;
}

.SAContent-addFeaturedMember {
    text-align: center;
    font-size: 80px;
}

.SAContent-addFeaturedMember i {
    color: #ff5138;
}

.SAContent-addFeaturedMember i:hover {
    color: #Dc4733;
}

.SAContent-homeImage a {
    text-decoration: none !important;
    color: #fe5139;
    cursor: pointer;
}

.SAContent-homeImage a:hover {
    color: #Dc4733;
}

.eulaButton {
    margin: 10% auto;
    display: flex;
    justify-content: center;
}

.eulaButton .btn.btn-danger{
    padding: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #fe5139;
}

.eulaButton .btn.btn-danger:hover{
    background-color: #Dc4733;
}

@media screen and (max-width: 1200px) {
    #SAHome-featuredBody {
        height: 600px;
    }
}

@media screen and (max-width: 900px) {
    #SAHome-featuredBody {
        height: 500px;
    }

    .SAContent-homeImage h2, .SAContent-homeImage h3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .SAcontent-header h1 {
        font-size: 35px;
    }

    #SAHome-body {
        border: none;
        background: none;
        box-shadow: inset -0px -0px 0px, inset 0px 0px 0px;
        border-radius: 5px;
        padding: 0px;
        font-size: 18px;
        margin-bottom: 50px;
    }

    #SAHome-featuredBody {
        border: none;
        background: none;
        box-shadow: inset -0px -0px 0px, inset 0px 0px 0px;
        border-radius: 5px;
        padding: 0px;
        font-size: 18px;
        margin-bottom: 50px;
    }

    .SAContent-home {
        width: 100%;
        margin: 1.3rem auto;
        padding: 20px;
        display: grid;
        row-gap: 20px;
    }

    .SAContent-partnersHeader {
        width: 250px;
        margin: 15% auto;
    }

    .SAContent-homeAnnounemnets {
        width: 250px;
        margin: 15% auto;
    }

    .SAContent-featuredMembers {
        width: 250px;
        margin: 15% auto;
    }

    #SAContenthome-announcements {
        margin-bottom: 25%;
    }

    .SAContent-addFeaturedMember {
        font-size: 40px;
    }

    .SAContent-homeImage {
        width: 100%;
    }

    .SAContent-homeImage h2, .SAContent-homeImage h3 {
        font-size: 20px;
    }
}