.SuperAdminContentNavItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 18px;
}

.SuperAdminContentButton {
    border: none;
}

.SuperAdminContentButton:focus {
    border: none;
    outline: none;
    color: orangered;
}

.SuperAdminContentButton:hover {
    color: orangered;
}