.ChatOnlineAdmin {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 10px;
}

.ChatOnlineAdmin:hover {
    background-color: lightgray;
}

.ChatOnlineImageContainer {
    position: relative;
    margin-right: 20px;
}

.ChatOnlineImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.ChatOnlineBadge {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: limegreen;
    top: 0;
    right: 2px;
}