.Content {
    padding: 50px 100px 200px 100px;
}

.AdminProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AdminProfileFormDiv {
    padding-left: 70px;
    display: grid;
    row-gap: 25px;
    max-width: 500px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 70px;
}

.InputDiv {
    display: grid;
    row-gap: 10px;
}

.ButtonDiv {
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.PseudoInput {
    background: #F0F0F3 !important;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2) !important;
    border-radius: 10px !important;
    padding: 15px !important;
    font-size: 16px !important;
    width: auto !important;
    outline: none !important;
    border: white !important;
}

.FormikInput {
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    width: auto;
}

.FormikInput:focus {
    outline: none;
}

.ErrorText {
    color: red;
}

.AdminAccountShadow {
    width: 240px;
    height: 240px;
    border-radius: 360px;
    object-fit: cover;
    margin: 5rem auto;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding: 20px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    display: grid;
    row-gap: 20px;
}

.AdminAccountImage {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.AdminAccountImage img {
    width: 200px;
    height: 200px;
    border-radius: 360px;
    object-fit: cover;
}

.AdminProfileChangeLink p {
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    color: #ff5138;
}

.AdminProfileChangeImg {
    padding: 0px 30px;
    font-size: 32px;
}

.AdminProfileChangeImg i {
    cursor: pointer;
}

.AdminProfileEdit {
    padding: 40px 150px;
}