.Applicants-header {
    width: 80%;
    margin: 5rem auto;
    margin-top: 0rem;
    box-sizing: border-box;
    padding: 10px;
    background: #F0F0F3;
    box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
    border-radius: 20px;
    display: grid;
    row-gap: 20px;
}

.Applicants-header h1 {
    color: #fe5139;
    text-align: center;
    font-weight: bold;
}

#Applicants-body {
    border: hidden;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
    border-radius: 10px;
    padding: 50px;
    font-size: 18px;
    margin: 50px auto;
}

div.Applicants-searchResult.col {
    padding-right: 0 !important;
}

div.Applicants-searchTitle.col {
    padding-right: 0 !important;
}

.Applicants-searchTitle h4 {
    text-align: center;
}

.Applicants-searchResult h4{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.Applicants-searchResult i {
    color: black;
}

.ApplicantsHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.Text {
    display: flex;
    justify-content: center;
    color: #FF5039;
}


@media screen and (max-width: 1200px) {
    .Applicants-searchTitle h4 {
        font-size: 15px;
        font-weight: bold;
    }

    #applicantEmail {
        display: none;
    }
}