* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e67e22;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  color: unset;
  background-color: unset;
  border-color: unset;
}
h1 {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.2rem;
}
.btn {
  letter-spacing: 1px;
}
button.btn.btn-danger{
  border-radius: 10px;
  border-color: #fe5139;
  background-color: #fe5139;
  outline: #fe5139;
}
button.btn.btn-danger:hover{
  background-color: #Dc4733;
  border-color: #Dc4733;
}
.steps {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.steps .step {
  margin: 0.5rem 1rem;
  display: flex;
  color: #fe5139;
}
.steps .step a {
  color: #fe5139;
  vertical-align: middle;
}
.steps .step p {
  vertical-align: middle;
}
.steps .step.active p {
  vertical-align: middle;
}
.steps .step div:first-of-type {
  border: 1px solid #fe5139;
  padding: 5px;
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 100%;
  padding-top: 7%;
}
.steps .step :last-child {
  margin-top: 3%;
}
.steps .step.active div:first-of-type {
  background-color: #fe5139;
  border: 1px solid transparent;
  color: #fff;
}
.steps .step.active div:last-of-type {
  color: #fff;
}
.input-form {
  width: 60%;
  margin: 1.3rem auto;
}
div.col-md-6 {
  box-sizing: border-box;
  padding: 30px;
  background: #F0F0F3;
  box-shadow: 10px 10px 30px #aeaec066, -10px -10px 30px #FFFFFF;
  border-radius: 20px;
  row-gap: 20px;
}
.errorMsg {
  max-width: 350px;
  color: #f21e08;
  padding: 2px 0;
  margin-top: 2px;
  font-size: 14px;
  font-weight: 300;
}
.login-error {
  font-size: 1.1rem;
}
.successMsg {
  color: #22ac11;
}
.loading {
  color: #777;
}
.form-control.input-error {
  border: 2px solid #f21e08;
}
.user-details {
  color: #22ac11;
  padding: 5px 0;
  margin-bottom: 1rem;
}

.radioButton {
  display: 'flex';
}

.writeIcon
{
  width: 25px;
  height: 25px;
  font-size: 30px;
  cursor: pointer;
  vertical-align: middle;
}

.writeImg
{
  text-align: center;
  object-fit: cover;
  margin-bottom: 20px;  
}

.writeImg img
{
  width: 25vw;
  height: 55vh;
  border-radius: 10px;
  object-fit: cover;
}

.uploadIcons
{
  text-align: center;
}

.DatePicker__input
{
  border: hidden;
  background: #F0F0F3;
  color: grey;
  box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
  border-radius: 20px;
  padding: 5px;
  font-size: 18px;
}

.helpIcon
{
  display: inline;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

.helpIcon .fas
{
  color: grey;
}

.form-control {
  border: hidden !important;
  background: #F0F0F3 !important;
  box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2) !important;
  border-radius: 20px !important;
  padding: 20px !important;
  font-size: 18px !important;
}

@media screen and (max-width: 1200px) {
  .input-form {
    width: 100%;
 }
  .writeImg img {
    width: 40vw;
  }
}
@media screen and (max-width: 900px) {
  .input-form {
    width: 100%;
 }
  .steps .step {
    margin: 0.5rem 2rem;
 }
}
@media screen and (max-width: 600px) {
  div.col-md-6 {
    border: none;
    box-sizing: none;
    padding: 30px;
    background: none;
    box-shadow: 0px 0px 0px, -0px -0px 0px;
    border-radius: 20px;
    row-gap: 20px;
  }
  .steps {
    display: none;
  }
  h1 {
    font-size: 2rem;
 }
  .writeImg img {
    width: 80vw;
  }
}
