.SuperAdminContainer {
    box-sizing: border-box;
    display: grid;
    row-gap: 25px;
    max-width: 900px;
    width: 900px;
    padding: 70px 150px 200px;
    margin-top: 25px;
    background: #F0F0F3;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2);
}

