.citizenPassUpdate-container {
    margin: 10% 10% 0% 10%;
}

.citizenPassUpdate-edit .form-control {
    border: hidden !important;
    background: #F0F0F3 !important;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.7), inset 10px 10px 10px rgba(174, 174, 192, 0.2) !important;
    border-radius: 20px !important;
    padding: 30px 20px 30px 20px !important;
    font-size: 18px !important;
}

.citizenPassUpdate-edit h3 {
    font-weight: bold;
    margin-bottom: 5%;
}

.citizenPassUpdate-edit {
    padding: 0px 50px 0px 50px;
}

.citizenPassUpdate-edit .form-label{
    font-size: 20px;
}

.citizenPassUpdate-BtnContainer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    
}

.BtnContainerCenter{
    display: flex;
    justify-content: center;
}

button.citizenPassUpdate-Btn{
    padding: 15px 45px 15px 45px;
    border: hidden;
    background: #FF5039;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 30px;
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
}

button.citizenPassUpdate-Btn:hover {
    background: #Dc4733;
    color: #ffffff;
    text-decoration: none;
}

.citizenPassUpdate-BtnCancel{
    padding: 15px 45px 15px 45px;
    border: hidden;
    background: #F0F0F3;
    box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(114, 114, 114, 0.4);
    border-radius: 30px;
    color: #FF5039;
    text-decoration: none;
    justify-content: center;
}

.citizenPassUpdate-BtnCancel:hover {
    color: #FF5039;
    text-decoration: none;
}

.citizenPassUpdate-passwordUpdate {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 50px;
    color: #ff5138;
}

.citizenPassUpdate-passwordUpdate:hover {
    color: #Dc4733;
    text-decoration: none;
}



@media screen and (max-width: 600px) {

    .citizenPassUpdate-edit {
        padding: 40px 50px;
    }

    .citizenPassUpdate-edit h3 {
        font-size: 25px;        
    }

    .citizenPassUpdate-name  p {
        font-size: 30px;
        margin-bottom: 15%;
    }
}