.CitizenCreateProposalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.filler{
    display: flex;
    padding: 10%;
}

.CitizenCreateProposalFormDiv {
    margin-top: 10px;
    display: grid;
    row-gap: 30px;
}

.CitizenCreateProposalForm {
    display: grid;
    width: 100%;
    row-gap: 100px;
}

.CitizenCreateProposalContentContainer {
    /* margin: 0px 100px 50px 100px; */
    margin: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* grid-auto-flow: column; */
    /* flex-direction: column;
    column-gap: 100px; */
}

.CitizenCreateProposalUserName{
    display: none !important;
}

.CitizenCreateProposalFormInput {
    display: flex;
    padding: 10px;
    flex-direction: column;
    overflow-wrap: break-word;
}
.CitizenCreateProposalPhoto {
    display: flex;
    justify-content: center;
}
.CitizenSubmitProposalPhotoInputContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    overflow-wrap: break-word;
}

.CitizenCreateProposalPhotoInput {
    display: flex;
    padding: 20px;
    flex-direction: column !important;
    align-items: center !important;
    max-width: 800px !important;
    max-height: 900px !important;
    overflow-wrap: break-word;
    background: #F0F0F3;
    box-shadow:  inset 5px 5px 10px #d4d4d4,
                inset -5px -5px 10px #ffffff;
    border-radius: 40px;
} 
.CitizenCreateProposalImg {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 80%;
    
}

.CitizenCreateProposalImg img{
    border-radius: 40px; 
    width: 500px;
    height: 300px;
    object-fit: cover;
} 

label{
    margin: 10px;
}

i{
    font-size: 30px;
}

.Text {
    display: flex;
    justify-content: center;
    color: #FF5039;
}

.QuoteDiv {
    display: flex;
    color: #FF5039;
}
.QuoteDiv h1{
    font-weight: bold;
}

.ButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin: 40px;
}

.InputValidation {
    margin-top: 10px;
    color: red;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.CitizenCreateProposalClearBtn{
    border: hidden;
    background-color: #F0F0F3;
    color: #FF5039;
    box-shadow: -10px -10px 30px rgba(255, 255, 255, 0.7), 10px 10px 30px rgba(174, 174, 192, 0.4);
    border-radius: 50px;
    height: 50px;
    width: 200px;
    font-size: 16px;
}

.CitizenCreateProposalClearBtn:hover {
    background-color: #F0F0F3;
    color: #FF5039
}

@media screen and (max-width: 992px) {

    .CitizenCreateProposalContentContainer {
        /* margin: 0px 100px 50px 100px; */
        margin: 13%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        /* grid-auto-flow: column; */
        /* flex-direction: column;
        column-gap: 100px; */
    }

    .QuoteDiv {
        display: flex;
        color: #FF5039;
        overflow-wrap: break-word;
    }
    .QuoteDiv h1{
        font-weight: bold;
        font-size: 20px;
    }

    .CitizenCreateProposalForm {
        display: flex;
        flex-direction: column;
        width: 99%;
        /* row-gap: 100px; */
    }


    .CitizenCreateProposalFormTopRow{
        display: flex !important;
        vertical-align: middle !important;
    }

    .CitizenCreateProposalFormTopRow2{
        display: flex;
        flex-direction: column !important;
        flex: 100% !important;
        width: 100%;
    }

    .CitizenCreateProposalHeader{
        display: flex;
        flex: 0%;
        width: 0%;
        margin: 0px;
        padding: 0px;
        display: none;
    }

    .CitizenCreateProposalFormInput {
        display: flex;
        padding: 10px;
        font-size: 15px;
        flex-direction: column;
        width: 100% auto;
    }

    .InputValidation {
        margin-top: 10px;
        color: red;
        font-size: 15px;

    }

    .Text {
        display: flex;
        justify-content: center;
        color: #FF5039;
        font-size: 15px;
    }

    .ButtonDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        margin: 40px;
        font-size: 15px;
    }
}

/* @media screen and (max-width: 600px) {
    

} */